body{
    text-align: center;
    background-color: cadetblue;
    font-family: fantasy;
    color:black;
}
div{
    margin-top: 15px;
}
img{
    height: 450px;
    width:550px;
    border-radius: 20px;
    border-style: double;
    border-width: 10px;
    border-color: black;
   
}
.image-section{
     display: flex;
    justify-content: center;
}
.section-style{
    margin-right: :25px;
    margin-left: :25px;
    background-color: cadetblue;
}
